{% extends 'main/base.html' %}
  {% block content %}

<div class="container">
    <h1> Следите за постами из групп ВК</h1>
</div>

<div class="container">
  <form action="/date" method="post">
    {% csrf_token %}
   <p>Выберите дату: <input type="date" name="calendar">
   <input type="submit" class = "btn btn-primary" value="Отправить"></p>
  </form>
</div>

<div class="container">
  <div class="row">
      {%for post in posts.object_list%}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{post.id}} Номер поста</h5>
            <p class="card-text">{{post.date_of_post}}</p>
            <a href="post/{{post.id}}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      {%endfor%}
  </div>
    {% include "main/pagination.html" with page=posts %}
</div>
{% endblock %}
